/*
    Author: Deepti Ravi Kumar
    Theme: Cascade-Cafetaria Ordering System Admin
    Version: 1.0
*/

*{
    margin: 0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width:80%; 
    margin: 0 auto;
    padding: 1%;
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.text-right{
    float: right;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color: #54a0ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #2e86de;
}
.btn-secondary{
    background-color: #1dd1a1;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #10ac84;
}
.btn-danger{
    background-color: #ff6b6b;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ee5253;
}
.success{
    color: #10ac84;
}
.error{
    color: #ee5253;
}


/* Menu Section */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type:none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color:  #ff3838;
}
.menu ul li a:hover{
    color: #e55039;
}

/* Main Content Section */
.main-content{
    background-color: #ececec;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* Footer Section */
.footer{
    background-color: #e55039;
    color: white;
}

/*Login section*/
.login{
    background-image: url(../images/bg.jpg);
    padding: 16% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-box{
    width: 35%;
    margin: 0 auto;
    color:white;
}
.login-font{
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
}