/*
    Author: Deepti Ravi Kumar
    Theme: Cascade-Cafetaria Ordering System Webpage
    Version: 1.0
*/
/* For all */
.img-responsive{
    width:100%;
}
.img-curve{
    border-radius: 15px;
}
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width:80%; 
    margin: 0 auto;
    padding: 1%;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.text-left{
    text-align: left;
}
.clearfix{
    clear:both;
    float:none;
}
a{
    color: #ff3838;
    text-decoration: none;
}
a:hover{
    color: #e55039;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff3838;
    color:white;
    cursor:pointer;
}
.btn-primary:hover{
    background-color: #e55039;
    color:white;
}
h2{
    color:#3d3d3d;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
.success{
    padding: 2%;
    color: #10ac84;
}
.error{
    padding: 2%;
    color: #ee5253;
}



/* Navbar section*/
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* Food search section */
.food-search{
    background-image: url(../images/bg.jpg);
    padding: 7% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border:none;
    border-radius: 5px;
    background-color: #f1f2f6;
}

/* Categories section */
.categories{
    padding:4% 0;
}
.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

/* Food menu section*/
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

/* Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/*Invoice section*/
.invoice{
    background-image: url(../images/bg.jpg);
    padding: 6% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.invoice-box{
    width: 50%;
    margin: 0 auto;
    color:white;
    
}
.invoice-font{
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}

/*Contact page*/
.contact{
    background-image: url(../images/bg.jpg);
    padding: 6% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-box{
    width: 80%;
    margin: 0 auto;
    color:white;
}
.contact-label{
    margin-bottom: 1.5%; 
    font-weight: bold;
}

/* Mobile size or smaller screen*/
@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;

    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        margin-bottom: 5%;
        padding: 3%;
    }
    .btn{
        width: 91%;
        padding: 2%;
    }
    .food-search{
        padding: 10% 0;
    }
    .categories{
        padding: 20% 0;
    }
    .box-3{
        width: 90%;
        margin: 4% auto;
    }
    h2{
        margin-bottom: 10%;
    }
    .food-menu{
        padding: 20% 0;
    }
    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .order{
        width: 100%;
    }
}
